{% extends "app.twig" %}
{% block content %}
<br>
<h1 style="text-align: center;color:steelblue;font-size:40px;">Your Task</h1>


<div class="container-sm">
    <div style="text-align: center">
        <a href="/">Back</a><br>
        <h1 style="text-align: center;color:black;font-size:30px;">{{ task.title }}<br>
            Planned to complete on {{ task.date }}
        </h1>
        <small>(ID:{{ task.id }})</small>
        <form method="post" action="/task/<?php echo $task->getId() ?>">
            <button type="submit" onclick="return confirm('This will erase task from list. Proceed?')">Complete task
            </button>
            <br><br>
        </form>
    </div>
</div>
{% endblock %}